*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Norse';
  src: url(Fonts/Norse.ttf);
}

@font-face {
  font-family: 'NordicaThin';
  src: url(Fonts/NordicaThin.ttf);
}

.container {
  display: flex;
  min-height: 100vh;
}

.art {
  background-image: url(Images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  min-width: 60%;
  display: flex;
  flex-direction: column;
}

.title {
  min-height: 15%;
  position: relative;
  top: 15%;
  display: flex;
  justify-content: center;
  background-color: #00000080;
}

.attribute {
  min-height: 5%;
  position: relative;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  min-width: 15%;
  max-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading > h1 {
  font-family: Norse;
  color: white;
  font-size: 90px;
}

.logo > img { 
  height: 90%;
  width: 90%;
}

.attribute > p {
  color: white;
  font-size: 17px;
}

.attribute a:link {
  color: white;
}

.attribute a:visited {
  color: lightgray;
}

.message {
  min-height: 30%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  padding-left: 60px;
}

.details {
  min-height: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  box-shadow: 0 5px 15px #12130D;
}

.create {
  min-height: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 30px;
}

.opening {
  min-height: 20%;
  display: flex;
  align-items: center;
}

form {
  min-height: 80%;
  display: flex;
}

.message > p, .opening > p, .button > button{
  font-family: NordicaThin;
  font-size: 20px;
  font-weight: bolder;
}

.message > p:last-child {
  padding-top: 20px;
}

.log-in > p, a, .input-row > label, input{
  font-family: NordicaThin;
  font-size: 16px;
  font-weight: 700;
}

.log-in {
  display: flex;
  gap: 7px;
}

.button {
  min-height: 30%;
  display: flex;
  align-items: center;
}

.button > button {
  padding: 1% 4%;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #905C2C;
}

.log-in a {
  text-decoration: none;
}

.log-in a:link {
  color: #905C2C;
}

.log-in a:visited {
  color: #764422;
}

.left {
  min-width: 40%;
}

.right {
  min-width: 40%;
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-row {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.input-row > label {
  font-weight: normal;  
}

.input-row > input {
  font-weight: lighter;
  border: lightgray solid 1px;
  border-radius: 5px;
}

.input-row > input[type='password']:user-invalid {
  border-color: red;
}

.input-row > input:focus{
  border-color: blue;
  outline: none;
  box-shadow: 0 0 3px #12130D; 
}